<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <a href="/contact-list">Contact List</a>
    <a href="/add-contact">Create Contact</a>
  </body>
</html>
