<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <i class="fas fa-arrow-right"></i>
    <a href="/contact-list" class="contact-list">Contact List</a>
  </body>
</html>
