.header {
  text-align: center;
  text-transform: uppercase;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #d6eeee;
}

th i {
  margin-right: 5px;
}

.contact {
  text-align: center;
  margin: 50px;
}

.create-contact {
  background-color: black;
  color: white;
  border-radius: 15px;
  text-decoration: none;
  padding: 10px;
}
